*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	overscroll-behavior: none;
}

img,
svg {
	max-width: 100%;
	vertical-align: top;
}

img {
	width: 100%;
}

a {
	display: inline-flex;
	color: inherit;
	text-decoration: none;
}

ul {
	list-style-type: none;
}