.ttu {
	text-transform: uppercase;
}

.tf1 {
	font-family: $ultralight;
}

.tf2 {
	font-family: $xl;
}

.alfaLink {
	transition: $s500;

	&:hover {
		opacity: 0.5;
	}
}

.--darken {
	mix-blend-mode: darken;
	color: $c-black;
}

.--difference {
	mix-blend-mode: difference;
	color: $c-white;
}

.vt {
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
}

.s32 {
	font-size: vw(32px);
	line-height: 86%;
}

.h3 {
	font-size: vw(126px);
	line-height: 86%;
	font-family: $xl;
	text-transform: uppercase;
}

.h5 {
	font-size: vw(32px);
	line-height: 86%;
	font-family: $xl;
	text-transform: uppercase;
}

.h6 {
	font-size: vw(24px);
	line-height: 86%;
	font-family: $xl;
	text-transform: uppercase;
}