
.page-enter-active,
.page-leave-active {
	transition: all 2s linear;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
}

// .page-enter-active {
// 	transition: all 0.75s linear 0.75s;
// }
// .page-leave-active {
// 	transition: all 1.5s linear;
// }
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

