<template>

	<div class="category-gallery__wrapper">
		<slot />
	</div>

</template>


<style lang="scss" scoped>
.category-gallery__wrapper {
	padding-left: 50vw;
	padding-right: 10vw;
	display: flex;
	width: max-content;
	align-items: center;
}
</style>