<script setup></script>

<template>

	<nuxt-link to="/" class="error-to-home vt h5">
		<span class="alfaLink">(HOMEPAGE)</span>
	</nuxt-link>

</template>


<style lang="scss" scoped>
.error-to-home {}
</style>