<script setup>
	/**
	 * Animate first screen
	 */
	const store = useDefaultStore()
	const errorNumber = ref(null)
	const { animate } = useSvg()
	tryOnMounted(() => {if(!store.isPreloaderVisible) animate(errorNumber.value)})
	watch(() => store.isPreloaderVisible, () => animate(errorNumber.value))

</script>
<template>

	<svg ref="errorNumber" class="error-number" viewBox="0 0 552 281" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M68.8942 1C56.174 54.04 40.9494 108.522 18.1394 158.149C13.0644 169.191 7.05311 180.007 2.74834 191.388C0.388192 197.628 0.719651 200.725 7.90257 199.428C20.3608 197.18 31.9804 193.971 44.7696 193.111C64.3218 191.796 84.3387 191.58 103.9 192.967C107.388 193.215 146.315 197.973 145.85 192.608C145.426 187.719 139.843 183.443 136.901 180.045C128.763 170.644 124.009 160.036 121.295 147.883C119.104 138.065 117.638 127.078 118.718 117.013C118.831 115.965 121.758 102.681 122.369 106.604C125.199 124.765 123.58 144.207 124.588 162.528C126.093 189.86 129.658 216.974 133.322 244.082C134.68 254.13 134.304 270.178 139.478 279.259C141.554 282.901 137.222 271.178 135.899 267.198" stroke="#2828BD" stroke-linecap="round" stroke-linejoin="round"/>
		<path d="M473.87 1C461.083 54.04 445.778 108.522 422.848 158.149C417.747 169.191 411.704 180.007 407.376 191.388C405.004 197.628 405.337 200.725 412.558 199.428C425.081 197.18 436.762 193.971 449.619 193.111C469.274 191.796 489.396 191.58 509.06 192.967C512.567 193.215 551.698 197.973 551.231 192.608C550.805 187.719 545.193 183.443 542.235 180.045C534.054 170.644 529.275 160.036 526.547 147.883C524.344 138.065 522.87 127.078 523.957 117.013C524.07 115.965 527.013 102.681 527.627 106.604C530.471 124.765 528.844 144.207 529.858 162.528C531.37 189.86 534.954 216.974 538.637 244.082C540.002 254.13 539.624 270.178 544.826 279.259C546.912 282.901 542.558 271.178 541.228 267.198" stroke="#2828BD" stroke-linecap="round" stroke-linejoin="round"/>
		<path d="M293.809 57.6215C275.702 59.7057 256.481 60.5647 239.572 68.1741C224.935 74.7607 213.358 88.233 205.431 101.849C190.615 127.297 179.79 163.152 185.334 192.788C195.834 248.914 272.409 277.68 319.259 247.258C344.606 230.799 356.19 197.694 363.797 170.131C372.53 138.491 379.317 97.9711 347.813 76.8645C323.324 60.4574 289.46 50.7365 260.056 56.768C241.121 60.652 232.669 74.283 226.769 91.1415" stroke="#2828BD" stroke-linecap="round" stroke-linejoin="round"/>
	</svg>

</template>


<style lang="scss" scoped>
.error-number {
	position: absolute;
	bottom: vw(32px);
	right: vw(32px);
	width: vw(552px);
	height: vw(281px);
}
</style>