<template>

	<section class="home-gallery-view">
		<slot />
	</section>

</template>

<style lang="scss" scoped>

.home-gallery-view {
	height: vw(935px);
	position: relative;
	width: 100vw;
	overflow: hidden;
}

</style>