<template>

	<div class="designed">
		<span class="designed-text">Designed by Maks Stepenko</span>
		<a href="https://thefirstthelast.agency/" target="_blank" class="designed-link alfaLink">@THE FIRST THE LAST</a>
	</div>

</template>

<style lang="scss" scoped>

.designed-text {
	margin-right: vw(5px);
	font-family: $ultralight;
}

</style>